@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background: linear-gradient(18deg, rgb(17, 200, 220), rgb(90, 67, 121));
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.theApp {
  margin-top: 5rem;
}
h1 {
  color: #f4f4f4;
  font-weight: 800;
  margin: 1rem 0;
}
.inputContents {
  background: #f4f4f4;
  border-radius: 0.5rem;
}
button,
.textField {
  padding: 0.5rem;
  border: none;
  background: #f4f4f4;
  font-size: 1rem;
  border-radius: 0.5rem;
}
.textField {
  width: 250px;
}
.theTask {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 5px 0;
  background: #f4f4f4;
  border-radius: 0.5rem;
}
.theTask li,
.theTask button {
  padding: 0.5rem;
  background: #f4f4f4;
  font-size: 1rem;
  border-radius: 0.5rem;
}
.theTask .taskText {
  flex: 1;
}
button {
  cursor: pointer;
}
.addTask:hover {
  color: #5050ff;
}
.compBtn:hover {
  color: #50ff50;
}
.trashBtn:hover {
  color: #ff5050;
}
button i {
  pointer-events: none;
}
.completed {
  opacity: 0.6;
  text-decoration: line-through;
}
